.FreeCAD/
.anaconda/
.bash_history
.bash_logout
.bashrc
.cache/
.cinnamon/
.conda/
.condarc
.config/
.continuum/
.dotnet/
.gazebo/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.gz/
.icons/
.ignition/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.nv/
.nvidia-omniverse/
.pki/
.profile
.python_history
.ros/
.rviz2/
.sdformat/
.sudo_as_admin_successful
.virtual_documents/
.vscode/
.wget-hsts
Anaconda3-2024.06-1-Linux-x86_64.sh
Desktop/
Documents/
Downloads/
None/
Pictures/
ai-for-beginners/
anaconda3/
env_isaacsim/
k_means.png
left0000.ini
left0000.jpg
log/
map.pgm
map.yaml
poly_reg.png
ros2_ws/
scikit_learn_data/
snap/
untitled.urdf
